body{
    font-family: verdana;
    color: black;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

.header-fix{
    background: rgb(243, 186, 179);
    color: black;
    padding: 0.6rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

main{
    padding-top: 10rem;
}

.header-fix a{
    text-decoration: none;
    color: black;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 5px;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #ccc;
}

.logo{
    width: 25%;
}

/* pictures*/

.portafolio{
    background: #fff;
}

.titulo{
    color: rgb(147, 221, 221);
    text-align: center;
    padding-bottom: 3rem;
}

section{
    padding-top: 10rem;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    font-family: verdana;
    text-align: center;
    color: rgb(147, 221, 221);
}

div .imagen-port{
    padding-top: 5rem;
}